.about-us {
  padding-right: 15px;
  padding-left: 15px;

  & .about-us-text {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  & .about-us-text h2 {
    font-size: $display-3;
    padding-bottom: 20px;
  }

  & .statistics {
    font-size: $font-size-18;
  }

  @media (min-width: 575.98px) {
    & {
      padding-right: calc(50vw - 270px);
      padding-left: calc(50vw - 270px);
    }

    & .statistics {
      font-size: $font-size-base;
    }
  }

  @media (min-width: 767.98px) {
    & {
      padding-right: calc(50vw - 340px);
      ;
      padding-left: calc(50vw - 340px);
    }

    & .about-us-text {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    & .about-us-text h2 {
      padding-bottom: 15px;
    }

    & .about-us-intro {
      font-size: $font-size-18;
      width: 100%;
    }

    & .statistics {
      margin: 0;
      font-size: $font-size-18;
    }
  }

  @media (min-width: 991.98px) {
    & {
      padding-right: 0;
      padding-left: calc(50vw - 480px);
    }

    & .about-us-text {
      align-self: center;
      padding-top: 50px;
      padding-right: 40px;
      width: 76%;
    }

    & .about-us-text h2 {
      font-size: $display-2;
      padding-bottom: 25px;
    }

    & .about-us-intro {
      width: 100%;
      font-size: $font-size-lg;
    }

    & .about-us-img {
      width: 45%;
    }

    & .statistics {
      font-size: $font-size-lg;
    }
  }

  @media (min-width: 1199.98px) {
    & .about-us-text {
      padding-right: 90px;
    }

    & .about-us-text h2 {
      font-size: $display-2;
      padding-bottom: 30px;
    }

    & .about-us-intro {
      width: 100%;
      margin-bottom: 30px;
    }

    & .about-us-img {
      width: 40%;
    }

    & .statistics {
      font-size: $font-size-lg;
    }
  }
}