.blog .card-direction {
    position: relative;
    color: $black;

    &::before {
        content: "";
        position: absolute;
        top: 2px;
        left: -22px;
        width: 17px;
        height: 20px;
        background-image: url(../img/location-pin.svg);
        background-repeat: no-repeat;
    }
}

.blog .card-img-top {
    width: 100%;
    border-radius: 0;
}

.blog .card-body {
    width: 100%;
    font-size: 13px;
}

.blog .card-footer {
    padding-bottom: 0;
    align-items: center;
    background-color: $white;
}

@media (min-width: 767.98px) {
    .blog .card-img-top {
        width: 100%;
    }

    .blog .card-body {
        font-size: 16px;
        width: 100%;
    }
}

@media (min-width: 991.98px) {
    .blog .card-img-top {
        width: 36%;
    }

    .blog .card-body {
        padding: 0;
        padding-left: 20px;
        font-size: 15px;
    }

    .blog .card-text {
        margin-bottom: 0;
    }

    .blog .card-direction::before {
        top: -3px;
        left: -23px;
    }
}