.shop {
    .card {
        width: 100%;
        position: relative;
        flex-direction: column;
    }

    .card-img-top {
        display: block;
        height: 190px;
        object-fit: contain;
    }

    .card-body {
        width: 80%;
        font-size: $font-size-18;
    }

    .card-title {
        font-size: $display-5;
    }

    .card-body .btn {
        font-size: $font-size-lg;
    }

    .card-order-mark {
        color: $light-grey-color;
    }

    .card-new-mark::before {
        content: "";
        position: absolute;
        top: 1px;
        right: 0;
        width: 48px;
        height: 48px;
        border: 2px solid $warning;
        border-radius: 50%;
        z-index: 8;
    }

    .card-new-mark::after {
        content: "NEW";
        position: absolute;
        top: 15px;
        right: -1px;
        width: 48px;
        text-align: center;
        font-size: 14px;
        color: $warning;
    }

    @media (min-width: $width-sm) {
        & .card {
            flex-direction: row;
        }

        & .card-img-top {
            width: 50%;
        }
    }

    @media (min-width: $width-md) {
        .card {
            flex-direction: column;
            width: 48%;
        }

        .card-img-top {
            width: 100%;
        }

        .card-body {
            width: 100%;
        }
    }

    @media (min-width: $width-lg) {
        .card-body {
            width: 80%;
        }
    }

    @media (min-width: $width-xl) {
        .card {
            width: 29%;
            position: relative;
        }

        .card-body {
            width: 90%;
        }
    }
}