.contact-us {
    & .shop-info-img {
        height: auto;
        width: 100%;
    }

    & .timetable,
    & .map-info-block {
        font-size: $font-size-base;
    }

    & .timetable .timetable-th::before {
        background-color: $dark;
    }

    & .map {
        height: 350px;
        overflow: hidden;
    }

    & .map-iframe-block {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 300;
    }

    & .map-img-block {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    & .map-img {
        width: 100%;
    }

    & .form {
        width: 75%;
    }

    & .btn {
        display: block;
        vertical-align: middle;
        margin-left: auto;
    }

    @media (min-width: 767.98px) {
        & .shop-info-img {
            width: 100%;
            height: 400px;
        }

        & .timetable {
            font-size: $font-size-18;
        }

        & .timetable .timetable-th::before {
            top: 7px;
            right: 1px;
            height: 17px;
        }

        & .form {
            width: 55%;
            font-size: $font-size-lg;
        }

        & .form-control {
            height: 35px;
            font-size: $font-size-lg;
        }

        & textarea.form-control {
            height: auto;
        }
    }

    @media (min-width: 991.98px) {
        & .shop-info-img {
            width: 90%;
            height: 350px;
        }

        & .form {
            width: 47%;
        }
    }

    @media (min-width: 1199.98px) {
        & .contact-timetable-caption {
            font-size: 1.25rem;
        }
    }
}