.custom-container {
    padding-right: 15px;
    padding-left: 15px;


@media (min-width: 575.98px) {
    & {
        padding-right: calc(50vw - 270px);
        padding-left: calc(50vw - 270px);
    }
}

@media (min-width: 767.98px) {
    & {
        padding-right: calc(50vw - 340px);
        padding-left: calc(50vw - 340px);
    }
}

@media (min-width: 991.98px) {
    & {
        padding-right: calc(50vw - 480px);
        padding-left: calc(50vw - 480px);
    }
}

@media (min-width: 1199.98px) {
    & {
        padding-right: calc(50vw - 580px);
        padding-left: calc(50vw - 580px);
    }
}
}