.custom-container {
    padding-right: 1rem;
    padding-left: 1rem;


@media (min-width: $width-sm) {
    & {
        padding-right: calc(50vw - 16.88rem);
        padding-left: calc(50vw - 16.88rem);
    }
}

@media (min-width: $width-md) {
    & {
        padding-right: calc(50vw - 21.25rem);
        padding-left: calc(50vw - 21.25rem);
    }
}

@media (min-width: $width-lg) {
    & {
        padding-right: calc(50vw - 30rem);
        padding-left: calc(50vw - 30rem);
    }
}

@media (min-width: $width-xl) {
    & {
        padding-right: calc(50vw - 36.25rem);
        padding-left: calc(50vw - 36.25rem);
    }
}
}