.events {
  & .card-img-top {
    width: 100%;
  }

  & .card-direction {
    color: $black;

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: -22px;
      width: 17px;
      height: 1.25rem;
      background-image: url(../img/location-pin.svg);
      background-repeat: no-repeat;
    }
  }

  & .card-body {
    width: 100%;
    font-size: $font-size-md;
  }

  & .card-date {
    order: -1;
  }

  @media (min-width: $width-md) {
    & .card-body {
      font-size: $font-size-base;
    }
  }

  @media (min-width: $width-lg) {
    & .card-img-top {
      width: 36%;
    }

    & .card-body {
      padding: 0;
      padding-left: 1.25rem;
    }

    & .card-direction::before {
      top: 0;
      left: -23px;
    }
  }
}