.checkbox-container {
    // display: flex;
    // margin-bottom: 43px;
}

.checkbox-container fieldset {
    // display: flex;
    // flex-direction: column;
    margin: 0;
    padding: 0;
    border: none;
}

.checkbox-legend {
    // margin-bottom: 18px;
}

.checkbox-field {
    display: flex;
    // -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding-left: 39px;
    cursor: pointer;
}

.checkbox-field input[type="checkbox"]+.checkbox-indication {
    position: absolute;
    top: 2px;
    left: 0;
    width: 19px;
    height: 19px;
    border: 2px solid rgba($success, 0.7)
}

.checkbox-field input[type="checkbox"]:focus+.checkbox-indication {
    border: 2px solid rgba($success, 0.7)
}

.checkbox-field input[type="checkbox"]:focus+.checkbox-indication {
    outline: 4px auto rgb(0, 128, 255);
}

.checkbox-field input[type="checkbox"]:disabled+.checkbox-indication {
    color: rgba($success, 0.2);
    border: 2px solid rgba($success, 0.2)
}

.aside .checkbox-field input[type="checkbox"]:checked+.checkbox-indication {
    position: absolute;
    top: 2px;
    left: 0;
    width: 19px;
    height: 19px;
    background-image: url(../img/check.jpg);
    background-repeat: no-repeat;
    background-size: 13px 12px;
    background-position: 45% 55%;
    border: 2px solid $success;
}

.checkbox-field input[type="checkbox"]:disabled:checked+.checkbox-indication {
    position: absolute;
    top: 2px;
    left: 0;
    width: 19px;
    height: 19px;
    background-image: url(../img/check.jpg);
    background-repeat: no-repeat;
    background-size: 13px 12px;
    background-position: 45% 55%;
    border: 2px solid $success;
    filter: grayscale(100%);
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.filter h2,
.sort label{
    font-size: $font-size-lg;
}

.panel-title a {
    position: relative;
    display: block;
    font-size: $font-size-lg;
    color: $dark;

    &:hover {
        text-decoration: none;
    }

    &::after {
        content: "";
        position: absolute;
        height: 0px;
        width: 0px;
        right: 0;
        top: 10px;

        border-top: 6px solid $dark;
        border-left: 6px solid rgba($dark, 0);
        border-right: 6px solid rgba($dark, 0);
    }
}

@media (min-width: 767.98px) {
    .collapse:not(.show) {
        display: block;
    }

    .panel-title a {
        &::after {
            content: none;
        }
    }

    .sort {
        position: absolute;
        top: 0;
        right: -28px;
        height: auto;
        width: 220px;
        padding: 0;
    }
}