.footer {
  font-size: $font-size-10;

  & .social-item a {
    font-size: 0;
  }

  @media (min-width: 767.98px) {
    & .copyright {
      font-size: $font-size-md;
    }

    & .timetable {
      font-size: $font-size-md;
      table-layout: fixed;
    }

    & .timetable-th {
      display: inline-block;
      vertical-align: middle;
      margin-top: -10px;
      padding-right: 2px;
    }

    & .timetable-th::before {
        content: "";
        position: absolute;
        top: 6px;
        right: 0;
        width: 1px;
        height: 13px;
        background-color: $white;
      }

    & .timetable-td {
      display: inline-block;
      vertical-align: middle;
      margin-top: -10px;
      padding-left: 5px;
    }
  }

  @media (min-width: 1199.98px) {
    & .contact-heading {
      font-size: $font-size-18;
      margin-bottom: 5px;
    }

    & .contact-text {
      font-size: $font-size-md;
    }

    & .timetable caption {
      margin-bottom: 3px;
      font-size: $font-size-18;
      line-height: 1.2;
    }
  }
}