.footer {
  font-size: $font-size-10;

  & .social-item a {
    font-size: 0;
  }

  @media (min-width: 767.98px) {
    & .copyright {
      font-size: $font-size-md;
    }

    & .timetable {
      font-size: $font-size-md;
    }

    & .timetable-th::before {
        background-color: $white;
      }
  }

  @media (min-width: 1199.98px) {
    & .contact-heading {
      font-size: $font-size-18;
      margin-bottom: 5px;
    }

    & .contact-text {
      font-size: $font-size-md;
    }
  }
}