.header {
    .header-name {
        font-size: $font-size-10;
    }

    .header-address {
        width: 40%;
        font-size: $font-size-sm;
    }

    .header-logo-container {
        width: 50px;
    }

    .header-mail {
        color: $danger;

        &:hover {
            color: $danger-hover;
        }

        &:active,
        &:focus {
            color: $danger-active;
        }
    }

    @media (min-width: 575.98px) {
        .header-address {
            width: 35%;
            font-size: $font-size-10;
        }
    }

    @media (min-width: 767.98px) {
        .header-logo-container {
            width: 80px;
        }

        .header-name {
            font-size: $font-size-lg;
        }

        .header-address {
            width: 33%;
            font-size: $font-size-12;
        }
    }

    @media (min-width: 991.98px) {
        .header-address {
            font-size: $font-size-md;
        }
    }

    @media (min-width: 1199.98px) {
        .header-img-container {
            width: 100px;
        }

        .header-name {
            font-size: $display-4;
        }

        .header-address {
            width: 23%;
        }
    }
}