.modal-content {
  border-radius: 0;
}

.request-modal .form-control {
  border: 1px solid $light-grey-color
}

@media (min-width: $width-sm) {
  .modal .modal-sm {
    max-width: 415px;
    font-size: $font-size-18;
  }
}

@media (min-width: $width-md) {
  .modal .modal-sm {
    max-width: 450px;
    font-size: $font-size-18;
  }
}

@media (min-width: $width-lg) {
  .modal-lg,
  .modal-xl {
    max-width: 500px;
    font-size: $font-size-lg;
  }

  .close {
    font-size: 2rem;
  }
}