.services {
    & .services-heading {
        font-size: $display-5;
    }

    & .list-group-item {
        padding: 0.5rem;
        color: $dark;
    }

    & .list-group-item.active {
        z-index: 2;
        color: $danger;
        background-color: $white;
        border: none;
    }

    & .tab-pane {
        margin-bottom: 30px;
        font-size: 0.9rem;
    }

    & table {
        margin-bottom: 30px;
    }

    & table td {
        border-bottom: 1px dashed $warning;
        padding: 0.5rem;
    }

    & table th {
        padding-bottom: 15px;
    }

    & .detailes-heading {
        font-size: $font-size-18;
        padding-bottom: 15px;
    }

    & .tune-ups-detailes table,
    & .tune-ups-detailes th,
    & .tune-ups-detailes td,
        {
        border: 1px solid $warning;
    }

    & .tune-ups-detailes th {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    @media (min-width: 767.98px) {
        & .list-group-item {
            font-size: $font-size-18;
        }

        & .tab-pane {
            font-size: $font-size-base;
        }

        & table th {
            font-size: $font-size-lg;
        }

    }

    @media (min-width: 1199.98px) {
        & h2.services-heading {
            font-size: $display-5;
            padding-bottom: 20px;
        }

        & .tab-pane {
            font-size: $font-size-18;
        }

        & table th {
            font-size: $display-5;
            padding-bottom: 30px;
        }

        & .detailes-heading {
            font-size: $font-size-lg;
        }
    }

    }