.services {
    & .services-heading {
        font-size: $display-5;
    }

    & .list-group-item {
        padding: 0.5rem;
        color: $dark;
    }

    & .list-group-item.active {
        z-index: 2;
        color: $danger;
        background-color: $white;
        border: none;
    }

    & table {
        width: 100%;
    }

    & td {
        border-bottom: 1px dashed $warning;
        padding: 0.5rem;
    }

    & .details-heading {
        font-size: $font-size-18;
    }

    & .tune-ups-details table,
    & .tune-ups-details th,
    & .tune-ups-details td
        {
        border: 1px solid $warning;
    }

    & .tune-ups-details th {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    @media (min-width: $width-md) {
        & .list-group-item {
            font-size: $font-size-18;
        }

        & th,
        & .details-heading {
            font-size: $font-size-lg;
        }

        & th.font-weight-normal {
            font-size: $font-size-18;
        }
    }

    @media (min-width: $width-xl) {
        & h2.services-heading {
            font-size: $display-4;
        }

        & th.font-weight-normal {
            font-size: $font-size-18;
        }

        & .table-row-left {
            width: 70%;
        }

        & .details-heading {
            font-size: $display-4;
        }
    }
}