.services {
    & .services-heading {
        font-size: $display-5;
    }

    & .list-group-item {
        padding: 0.5rem;
        color: $dark;
    }

    & .list-group-item.active {
        z-index: 2;
        color: $danger;
        background-color: $white;
        border: none;
    }

    & .tab-pane {
        font-size: $font-size-md;
    }

    & table {
        width: 100%;
    }

    & td {
        border-bottom: 1px dashed $warning;
        padding: 0.5rem;
    }


    & .detailes-heading {
        font-size: $font-size-18;
    }

    & .tune-ups-detailes table,
    & .tune-ups-detailes th,
    & .tune-ups-detailes td,
        {
        border: 1px solid $warning;
    }

    & .tune-ups-detailes th {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    @media (min-width: 767.98px) {
        & .list-group-item {
            font-size: $font-size-18;
        }

        & .tab-pane {
            font-size: $font-size-base;
        }

        & th,
        & .detailes-heading {
            font-size: $font-size-lg;
        }
    }

    @media (min-width: 1199.98px) {
        & h2.services-heading {
            font-size: $display-5;
        }

        & .tab-pane {
            font-size: $font-size-18;
        }

        & th {
            font-size: $display-5;
        }


        & .table-row-left {
            width: 70%;
        }

        & .detailes-heading {
            font-size: $display-5;
        }
    }

}