.tagline {
    padding-top: 11rem;
    min-height: 300px;
    background-image: url("../img/heading-photo-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    & .tagline-block {
        background-color: rgba($success, 0.5);
    }

    & .img-fluid {
        height: 20px;
    }

    @media (min-width: $width-sm) {}

    @media (min-width: $width-md) {
        & {
            padding-top: 185px;
            min-height: 455px;
            background-image: url("../img/heading-photo-tablet.jpg");
        }

        & .img-fluid {
            max-width: 100%;
            height: 30px;
        }
    }

    @media (min-width: $width-lg) {
        & {
            padding-top: 224px;
            min-height: 594px;
        }
    }

    @media (min-width: $width-xl) {
        & {
            padding-top: 300px;
            min-height: 600px;
            background-size: cover;
            background-position-y: -185px;
            background-image: url("../img/heading-photo-desktop.jpg");
        }

        & .img-fluid {
            height: 41px;
        }
    }
}