// $font-size-lg:                $font-size-base * 1.25 !default;
// $font-size-sm:                $font-size-base * .875 !default;

// $font-weight-lighter:         lighter !default;
// $font-weight-light:           300 !default;
// $font-weight-normal:          400 !default;
// $font-weight-bold:            700 !default;
// $font-weight-bolder:          bolder !default;

// $font-weight-base:            $font-weight-normal !default;
// $line-height-base:            1.5 !default;

// $h1-font-size:                $font-size-base * 2.5 !default;

// $h4-font-size:                $font-size-base * 1.5 !default;
// $h5-font-size:                $font-size-base * 1.25 !default;
// $h6-font-size:                $font-size-base !default;

// $headings-margin-bottom:      $spacer / 2 !default;
// $headings-font-family:        null !default;
// $headings-font-weight:        500 !default;
// $headings-line-height:        1.2 !default;
// $headings-color:              null !default;

// $display1-size:               6rem !default;
// $display2-size:               5.5rem !default;
// $display3-size:               4.5rem !default;


// $display1-weight:             300 !default;
// $display2-weight:             300 !default;
// $display3-weight:             300 !default;
// $display4-weight:             300 !default;
// $display-line-height:         $headings-line-height !default;

// Cards

// $card-spacer-y:                     .75rem !default;
// $card-spacer-x:                     1.25rem !default;
// $card-border-width:                 $border-width !default;
// $card-border-radius:                $border-radius !default;
// $card-border-color:                 rgba($black, .125) !default;
// $card-inner-border-radius:          subtract($card-border-radius, $card-border-width) !default;
// $card-cap-bg:                       rgba($black, .03) !default;
// $card-cap-color:                    null !default;
// $card-height:                       null !default;
// $card-color:                        null !default;
// $card-bg:                           $white !default;

// $card-img-overlay-padding:          1.25rem !default;

// $card-group-margin:                 $grid-gutter-width / 2 !default;
// $card-deck-margin:                  $card-group-margin !default;

// $card-columns-count:                3 !default;
// $card-columns-gap:                  1.25rem !default;
// $card-columns-margin:               $card-spacer-y !default;

// // Modals

// // Padding applied to the modal body
// $modal-inner-padding:               1rem !default;

// // Margin between elements in footer, must be lower than or equal to 2 * $modal-inner-padding
// $modal-footer-margin-between:       .5rem !default;

// $modal-dialog-margin:               .5rem !default;
// $modal-dialog-margin-y-sm-up:       1.75rem !default;

// $modal-title-line-height:           $line-height-base !default;

// $modal-content-color:               null !default;
// $modal-content-bg:                  $white !default;
// $modal-content-border-color:        rgba($black, .2) !default;
// $modal-content-border-width:        $border-width !default;
// $modal-content-border-radius:       $border-radius-lg !default;
// $modal-content-inner-border-radius: subtract($modal-content-border-radius, $modal-content-border-width) !default;
// $modal-content-box-shadow-xs:       0 .25rem .5rem rgba($black, .5) !default;
// $modal-content-box-shadow-sm-up:    0 .5rem 1rem rgba($black, .5) !default;

// $modal-backdrop-bg:                 $black !default;
// $modal-backdrop-opacity:            .5 !default;
// $modal-header-border-color:         $border-color !default;
// $modal-footer-border-color:         $modal-header-border-color !default;
// $modal-header-border-width:         $modal-content-border-width !default;
// $modal-footer-border-width:         $modal-header-border-width !default;
// $modal-header-padding-y:            1rem !default;
// $modal-header-padding-x:            1rem !default;
// $modal-header-padding:              $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

// $modal-xl:                          1140px !default;
// $modal-lg:                          800px !default;
// $modal-md:                          500px !default;
// $modal-sm:                          300px !default;

// $modal-fade-transform:              translate(0, -50px) !default;
// $modal-show-transform:              none !default;
// $modal-transition:                  transform .3s ease-out !default;
// $modal-scale-transform:             scale(1.02) !default;


$danger: #8a0001;
$success: #70ab81;
$warning: #eacb86;
$secondary: #fbf6eb;
$dark: #333333;
$input-placeholder-color: #aaaaaa;
$white: #ffffff;
$link-color: $white;
$input-height: 25px;
$box-shadow: 0 3px 7px 0;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: 1.125rem;
$font-size-md: 1.0625rem;
$font-size-sm: 0.9375rem;

// intro
$display4-size: 1.3rem;
$display5-size: 1.5rem;
$h2-font-size: 1.5rem;

// Body
$body-color: $dark;
$font-family-sans-serif: "Roboto Slab",
"Open Sans",
serif;

$navbar-toggler-padding-y: 0.1rem;
$navbar-toggler-padding-x: 0.4rem;
$navbar-dark-color: $white;
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");

$btn-border-radius: 0;
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;
$border-width: 0;

$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px);

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/input-group";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/transitions";

@font-face {
  font-weight: 400;
  font-family: "Roboto Slab";
  font-style: normal;
  font-display: swap;
  src: local("Roboto Slab"), local("Roboto Slab Regular"), url("../fonts/robotoslabregular.woff2") format("woff2"), url("../fonts/robotoslabregular.woff") format("woff");
}

@font-face {
  font-weight: 900;
  font-family: "Roboto Slab";
  font-style: normal;
  font-display: swap;
  src: local("Roboto Slab Bold"), local("Roboto Slab-Bold"), url("../fonts/robotoslabbold.woff2") format("woff2"), url("../fonts/robotoslabbold.woff") format("woff");
}

body {
  font-size: $font-size-sm;
}

.visually-hidden,
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.custom-container {
  padding-right: 15px;
  padding-left: 15px;
}

.header .header-name {
  font-size: 9px;
  font-weight: 800;
}

.header .header-info {
  font-size: 7px;
  width: 35%;
}

.navigation .navbar-toggler {
  border-color: transparent;
}

.navigation .form-inline {
  width: 35%;
}

.navigation .form-control {
  padding: 3px;
  padding-left: 6px;
  padding-right: 20px;
  font-size: 12px;
}

.heading {
  padding-top: 115px;
  min-height: 300px;
  background-image: url("../img/heading-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.heading .heading-block {
  background-color: rgba($success, 0.5);
}

.heading .img-fluid {
  max-width: 80%;
  height: 20px;
}

.about-us__text-block {
  padding-top: 20px;
  padding-bottom: 20px;
}

.about-us__text-block h2 {
  font-weight: 800;
  padding-bottom: 20px;
}

.about-us__text {
  font-size: 14px;
}

.statistics {
  width: 100%;
}

.subscribe .subscribe__heading {
  font-size: 18px;
  font-weight: 800;
}

.subscribe .form-control {
  width: 70%;
  font-size: 13px;
}

.subscribe .btn {
  width: 30%;
  line-height: 1.1;
  padding-top: 6px;
  padding-bottom: 5px;
  font-size: 13px;
}

.subscribe .subscribe__text {
  font-size: 13px;
}

.footer {
  font-size: 10px;
}

.social {
  margin-bottom: 10px;
}

.social-item a {
  font-size: 0;
}

@media (min-width: 575.98px) {
  .custom-container {
    padding-right: calc(50vw - 270px);
    padding-left: calc(50vw - 270px);
  }
}

@media (min-width: 767.98) {
  body {
    font-size: $font-size-md;
  }

  .custom-container {
    padding-right: calc(50vw - 340px);
    padding-left: calc(50vw - 340px);
  }

  .header .header-info,
  .navigation .form-inline {
    width: 30%;
  }

  .header .header-name {
    font-size: 20px;
    font-weight: 800;
  }

  .header .header-info {
    font-size: 12px;
  }

  .heading {
    padding-top: 185px;
    min-height: 455px;
    background-image: url("../img/heading-photo-tablet.jpg");
  }

  .heading .img-fluid {
    max-width: 100%;
    height: 30px;
  }

  .about-us__text-block {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .about-us__text-block h2 {
    padding-bottom: 15px;
  }

  .about-us__text {
    font-size: 17px;
    width: 100%;
  }

  .statistics {
    margin: 0 auto;
    font-size: 16px;
  }

  .subscribe .subscribe__heading {
    font-size: 18px;
    font-weight: 800;
  }

  .subscribe .form-inline {
    width: 100%;
  }

  .subscribe .form-control {
    width: 40%;
    font-size: 13px;
  }

  .subscribe .btn {
    width: 20%;
    line-height: 1.1;
    padding-top: 6px;
    padding-bottom: 5px;
    font-size: 13px;
  }

  .subscribe .subscribe__text {
    font-size: 13px;
  }
}

@media (min-width: 991.98) {
  .custom-container {
    padding-right: calc(50vw - 480px);
    padding-left: calc(50vw - 480px);
  }

  .about-us__text-block h2 {
    font-size: 25px;
    padding-bottom: 25px;
  }

  .about-us__text {
    width: 100%;
    font-size: 19px;
  }

  .about-us__img-block {
    width: 45%;
  }

  .statistics {
    font-size: 18px;
  }
}

@media (min-width: 1199.98px) {
  body {
    font-size: $font-size-lg;
  }

  .custom-container {
    padding-right: calc(50vw - 580px);
    padding-left: calc(50vw - 580px);
  }

  .header .header-name {
    font-size: 24px;
    font-weight: 800;
  }

  .header .header-info {
    font-size: 14px;
    width: 23%;
  }

  .navigation .navbar-nav {
    font-size: $display4-size;
  }

  .navigation .form-control {
    font-size: $font-size-base;
  }

  .navigation .form-inline {
    width: 20%;
  }

  .heading {
    padding-top: 300px;
    min-height: 600px;
    background-size: cover;
    background-position-y: -185px;
    background-image: url("../img/heading-photo-desktop.jpg");
  }

  .about-us__text-block {
    padding-top: 6%;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 37%;
  }

  .about-us__text-block h2 {
    font-size: 30px;
    padding-bottom: 30px;
  }

  .about-us__text {
    width: 100%;
    font-size: 22px;
  }

  .about-us__img-block {
    width: 28%;
  }

  .statistics {
    font-size: 20px;
  }
}